@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";
* {
    font-family: "Quicksand", sans-serif;
}

/* play-audio */
.play-audio .inner-button-play .inner-icon-pause{
    display: none;
}

.play-audio .inner-button-play.play .inner-icon-pause{
    display: block;
}

.play-audio .inner-button-play.play .inner-icon-play{
    display: none;
}
/* End play-audio */
